@page
@model UI.Pages.Contract.CreateContractModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.Id" class="control-label"></label>
                <input asp-for="Contract.Id" class="form-control" disabled />
                <span asp-validation-for="Contract.Id" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Product.ProductTitle" class="control-label"></label>
                <input asp-for="Product.ProductTitle" class="form-control" />
                <span asp-validation-for="Product.ProductTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CustomerId" class="control-label"></label>
                <select asp-for="Contract.CustomerId" class="form-control" asp-items="ViewBag.CustomerId"></select>
            <div class="form-group">
                    <label asp-for="Contract.AgencyId" class="control-label"></label>
                    <input asp-for="Contract.AgencyId" class="form-control" value="@HttpContext.Session.GetString("UserId")" readonly />
            </div>

            <div class="form-group">
                <label asp-for="Contract.DepositAmount" class="control-label"></label>
                <input asp-for="Contract.DepositAmount" class="form-control" />
                <span asp-validation-for="Contract.DepositAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.ContractDate" class="control-label"></label>
                <input asp-for="Contract.ContractDate" class="form-control" />
                <span asp-validation-for="Contract.ContractDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CreatedAt" class="control-label"></label>
                <input asp-for="Contract.CreatedAt" class="form-control" />
                <span asp-validation-for="Contract.CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.CreatedBy" class="control-label"></label>
                <input asp-for="Contract.CreatedBy" class="form-control" />
                <span asp-validation-for="Contract.CreatedBy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
