@page 
@model UI.Pages.Contract.CreateContractModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Contract</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Contract.Id" class="control-label"></label>
                <input asp-for="Contract.Id" class="form-control" disabled />
                <span asp-validation-for="Contract.Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contract.AgencyId" class="control-label"></label>
                <input id="agencyIdInput" asp-for="Contract.AgencyId" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Product.ProductTitle" class="control-label"></label>
                <input asp-for="Product.ProductTitle" class="form-control" disabled />
                <span asp-validation-for="Product.ProductTitle" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Booking.CustomerId" class="control-label"></label>
                <select asp-for="Booking.CustomerId" class="form-control" asp-items="ViewBag.CustomerList"></select>
                <span asp-validation-for="Booking.CustomerId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Contract.DepositAmount" class="control-label"></label>
                <input asp-for="Contract.DepositAmount" class="form-control" />
                <span asp-validation-for="Contract.DepositAmount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./AgencyViewBookingOfProduct">Back to List</a>
</div>

@section Scripts {
    <script>
        // Function to set the value of the AgencyId input field
        function setAgencyIdValue() {
            // Fetch the loginId value from the session
            var loginId = '@HttpContext.Session.GetString("Id")';

            // Set the value of the input field to the loginId
            document.getElementById('agencyIdInput').value = loginId;
        }

        // Call the setAgencyIdValue function when the page is loaded
        window.onload = function () {
            setAgencyIdValue();
        };
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
