<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - UI</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/UI.styles.css" asp-append-version="true" />
    <!-- Style -->
    <link rel="stylesheet" href="~/css/style.css" asp-append-version="true" />

    <!-- Embedded fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
</head>
<body style="height: 8000px">
    <!-- HEADER -->
    <header class="pt-4 header border-bottom shadow-sm border-bottom border-solid border-light" style="background: #fffaf5">
        <div class="container">
            <div class="d-flex align-items-center justify-content-between pt-3 pb-3">
                <!-- LOGO -->
                <a href="#" >
                    <img class="w-50 h-50" src="icons/logo.svg" alt="Real Estate" />
                </a>

                <!-- NAVBAR -->
                <nav class="navbar">
                    <ul class="d-flex align-items-center justify-content-between list-unstyled mb-0">
                        <li class="">
                            <a href="#" class="d-inline-block px-4 py-2 text-center fs-4" style="color: #2C2C2C" title="Home">Home</a>
                        </li>
                        <li class="">
                            <a href="#" class="d-inline-block px-4 py-2 text-center fs-4" style="color: #2C2C2C" title="About">About</a>
                        </li>
                        <li class="">
                            <a href=""
                               class="d-inline-block px-4 py-2 text-center fs-4" style="color: #2C2C2C"
                               title="Services & Rates">Services</a>
                        </li>
                        <li class="">
                            <a href="" class="d-inline-block px-4 py-2 text-center fs-4" style="color: #2C2C2C" title="Review">Review</a>
                        </li>
                        <li class="">
                            <a href=""
                               class="d-inline-block px-4 py-2 text-center fs-4" style="color: #2C2C2C"
                               title="Contacts us">Contacts us</a>
                        </li>
                    </ul>
                </nav>

                <!-- ACTIONS -->
                <div class="d-flex">
                    <a href="#!" class="header__btn text-center fs-4" style="color: #2C2C2C">Đăng nhập</a>
                    <a href="#!" class="header__btn text-center fs-4" style="color: #2C2C2C">Đăng kí</a>
                    <a href="#!" class="header__btn border border-1 ms-3 text-center fs-4" style="color: #2C2C2C">Đăng tin</a>
                </div>
            </div>
        </div>
    </header>

    <div class="container mt-5">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - UI - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>